@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1> to the future of water sports.
</div>
<br /><br /><br /><br /><br /><br />
<div class="text-left">
    <h3 style="font-family:Arial;">Some of our reviews:</h3>
    <img src="/JuliaGavin.png" alt="Julia" width="20%" height="auto" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="/PerOlsson.png" alt="Per" width="20%" height="auto" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="/LukasHimmelknegare.png" alt="Luke" width="20%" height="auto" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="/DanielMagnusson.png" alt="Luke" width="27.5%" height="auto" />
</div>
