@model simhoppsystemet.Models.Dive

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dive</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompetitionId" class="control-label"></label>
                <select asp-for="CompetitionId" class ="form-control" asp-items="ViewBag.CompetitionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CompetitorId" class="control-label"></label>
                <select asp-for="CompetitorId" class ="form-control" asp-items="ViewBag.CompetitorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DiveGroup" class="control-label"></label>
                <input asp-for="DiveGroup" class="form-control" />
                <span asp-validation-for="DiveGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Judge1" class="control-label"></label>
                <input asp-for="Judge1" class="form-control" />
                <span asp-validation-for="Judge1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Judge2" class="control-label"></label>
                <input asp-for="Judge2" class="form-control" />
                <span asp-validation-for="Judge2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Judge3" class="control-label"></label>
                <input asp-for="Judge3" class="form-control" />
                <span asp-validation-for="Judge3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
