@model simhoppsystemet.Models.Dive

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Dive</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CompetitionId" class="control-label"></label>
                <select asp-for="CompetitionId" class="form-control" asp-items="ViewBag.CompetitionId"></select>
                <span asp-validation-for="CompetitionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetitorId" class="control-label"></label>
                <select asp-for="CompetitorId" class="form-control" asp-items="ViewBag.CompetitorId"></select>
                <span asp-validation-for="CompetitorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiveGroup" class="control-label"></label>
                <input asp-for="DiveGroup" class="form-control" />
                <span asp-validation-for="DiveGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointsA" class="control-label"></label>
                <input asp-for="PointsA" class="form-control" />
                <span asp-validation-for="PointsA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointsB" class="control-label"></label>
                <input asp-for="PointsB" class="form-control" />
                <span asp-validation-for="PointsB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointsC" class="control-label"></label>
                <input asp-for="PointsC" class="form-control" />
                <span asp-validation-for="PointsC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalScore" class="control-label"></label>
                <input asp-for="FinalScore" class="form-control" />
                <span asp-validation-for="FinalScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
