@model simhoppsystemet.Models.Dive

@{
    ViewData["Title"] = "Edit dive";
}

<h3>Edit dive</h3>
<p>Enter which dive the competitior will perform:</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CompetitorId" />
            <input type="hidden" asp-for="CompetitionId" />

            <div class="form-group">
                <label asp-for="DiveGroup" class="control-label"></label>
                <select name="DiveGroup" class="dropdown" asp-items="ViewBag.divecategories"></select>
            </div>
            <input type="hidden" asp-for="Judge1" />
            <input type="hidden" asp-for="Judge2" />
            <input type="hidden" asp-for="Judge3" />
            <input type="hidden" asp-for="Score" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-controller="Competitions" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
